<h1>Toppack - Search any JavaScript repository on Github instantly!</h1>
<% if params[:query].present? %>
  <a href="/search"><< Back to Home</a><br>
<% end %>
<a href="/packages/top">Top packages across imported repositories</a><br><br>

<%= form_tag('/search', :method => :get) do %>
  <%= text_field_tag 'query', params[:query], :autocomplete => :off, :autofocus => true %>
  <%= submit_tag 'Search' %>
<% end %>

<br><br>
<% if params[:query].present? %>
  <% if @repos['total_count'] == 0 %>
    <h4>Sorry! No results found for your search query</h4>
  <% else %>
    <table>
      <tr>
        <th>Repo Name</th>
        <th>Stars</th>
        <th>Forks</th>
        <th>Import</th>
      </tr>
      <% @repos['items'].each do |repo| %>
        <% match = @repos_matching.include?(repo['full_name']) ? true : false %>
        <% if match %>
          <tr bgcolor = 'orange'>
        <% else %>
          <tr>
        <% end %>
          <td><%= repo['full_name'] %></td>
          <td><%= repo['stargazers_count'] %></td>
          <td><%= repo['forks'] %></td>
          <% if match %>
            <td>*Imported*</td>
          <% else %>
            <td id="td_<%= repo['full_name'].gsub('/', '_') %>"><input class="import" type="button" onclick="repo_import('<%= repo['full_name'] %>')" value="Import Repo"></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<script>
function repo_import(repo) {
  var url = '/packages/import';
  $.ajax({
    type: "post",
    url: url,
    data: { repo: repo }
  }).done(function(response) {
    var repo_id = repo.replace('/', '_')
    if(response.presence == true) {
      $('#td_' + repo_id).html('Your job is added to queue!')
    } else {
      $('#td_' + repo_id).html('There is no valid package.json file for this repository!')
    }
  })
}
</script>
